Repository Grasscutters/Cultivation: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-js, prettier-json, lint

prettier-js:
  run: prettier --write {staged_files}

prettier-json:
  run: prettier --write --parser json {staged_files}

lint:
  run: eslint --fix {staged_files}

Add profiles
  package.json
  src-tauri/lang/en.json
  src-tauri/src/config.rs
  src-tauri/src/main.rs
  src-tauri/src/patch.rs
  src-tauri/tauri.conf.json
  src/ui/Main.tsx
  src/ui/components/ServerLaunchSection.css
  src/ui/components/ServerLaunchSection.tsx
  src/ui/components/menu/Options.css
  src/ui/components/menu/Options.tsx
  src/ui/components/news/NewsSection.tsx
  src/utils/configuration.ts
Due: prettier-js, prettier-json, lint

Update langs
  src-tauri/lang/chs.json
  src-tauri/lang/cht.json
  src-tauri/lang/de.json
  src-tauri/lang/es.json
  src-tauri/lang/fr.json
  src-tauri/lang/id.json
  src-tauri/lang/it.json
  src-tauri/lang/ja.json
  src-tauri/lang/ko.json
  src-tauri/lang/lv.json
  src-tauri/lang/nl.json
  src-tauri/lang/pl.json
  src-tauri/lang/pt-br.json
  src-tauri/lang/ru.json
  src-tauri/lang/vi.json
Due: prettier-json

Fix not loading old configs from correct dir
  src/utils/configuration.ts
Due: prettier-js, lint

Fix reading profile path
  src-tauri/src/config.rs
Due: none

Bump version
  package.json
  src-tauri/tauri.conf.json
  src/ui/components/news/NewsSection.tsx
Due: prettier-js, prettier-json, lint

Fix default config not generating Fixes #262
  src/utils/configuration.ts
Due: prettier-js, lint

Bump version
  package.json
  src-tauri/lang/chs.json
  src-tauri/lang/cht.json
  src-tauri/lang/de.json
  src-tauri/lang/en.json
  src-tauri/lang/es.json
  src-tauri/lang/fr.json
  src-tauri/lang/id.json
  src-tauri/lang/ja.json
  src-tauri/lang/ko.json
  src-tauri/lang/lv.json
  src-tauri/lang/nl.json
  src-tauri/lang/ru.json
  src-tauri/lang/vi.json
  src-tauri/tauri.conf.json
  src/ui/components/news/NewsSection.tsx
Due: prettier-js, prettier-json, lint

Path conditions:
  prettier-js: any of: *.{ts,js,tsx}
  prettier-json: any of: {*.json,.prettierrc,.lintstagedrc,.eslintrc}
  lint: any of: *.{ts,tsx}, but not: .prettierrc.js|commitlint.config.js
