Repository Grasscutters/Cultivation: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-js, prettier-json, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier-js:
      glob: "*.{ts,js,tsx}"
      run: prettier --write {staged_files}
    prettier-json:
      glob: "{*.json,.prettierrc,.lintstagedrc,.eslintrc}"
      run: prettier --write --parser json {staged_files}
    lint:
      exclude: ".prettierrc.js|commitlint.config.js"
      glob: "*.{ts,tsx}"
      run: eslint --fix {staged_files}

commit-msg:
  scripts:
    'commitlint.sh':
      runner: bash

(feat:background) Improve the coloring of the top bar
  src/backend/stores/mihoyo.ts
  src/ui/App.tsx
  src/ui/components/TopBar.tsx
  src/ui/css/App.scss
  src/ui/css/components/TopBar.scss
Due: prettier-js, lint

Lint & Prettier
  README_ja-JP.md
  src-tauri/src/main.rs
  src-tauri/src/patch.rs
  src-tauri/src/system_helpers.rs
Due: none

Update README.md
  README.md
Due: none

Add ExampleTheme.zip
  docs/ExampleTheme.zip
Due: none

Update THEMES.md
  THEMES.md
Due: none

Remove clippy for macos
  .github/workflows/backend-checks.yml
Due: none

Clippy
  src-tauri/Cargo.toml
  src-tauri/src/system_helpers.rs
  src-tauri/src/web.rs
Due: none

Clippy ubuntu
  src-tauri/src/system_helpers.rs
Due: none

Fix comparison
  src/utils/download.ts
Due: prettier-js, lint

Bump version
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/patch/52version.dll
  src-tauri/tauri.conf.json
  src/ui/components/news/NewsSection.tsx
  src/utils/game.ts
Due: prettier-js, prettier-json, lint

Add 5.3 patch Bump version
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/patch/53version.dll
  src-tauri/tauri.conf.json
  src/ui/components/news/NewsSection.tsx
Due: prettier-js, prettier-json, lint

Support XXMI launching with args
  src-tauri/src/main.rs
  src-tauri/src/system_helpers.rs
  src/ui/components/ServerLaunchSection.tsx
  src/ui/components/menu/ExtrasMenu.tsx
Due: prettier-js, lint

Bump version
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/ui/components/news/NewsSection.tsx
Due: prettier-js, prettier-json, lint

Add 5.3 AIO
  src/ui/components/menu/Downloads.tsx
Due: prettier-js, lint

Update menu version
  src-tauri/lang/chs.json
  src-tauri/lang/cht.json
  src-tauri/lang/de.json
  src-tauri/lang/en.json
  src-tauri/lang/es.json
  src-tauri/lang/fr.json
  src-tauri/lang/id.json
  src-tauri/lang/it.json
  src-tauri/lang/ja.json
  src-tauri/lang/ko.json
  src-tauri/lang/lv.json
  src-tauri/lang/nl.json
  src-tauri/lang/pl.json
  src-tauri/lang/pt-br.json
  src-tauri/lang/ru.json
  src-tauri/lang/vi.json
Due: prettier-json

Add 5.4 AIO
  src-tauri/lang/chs.json
  src-tauri/lang/cht.json
  src-tauri/lang/de.json
  src-tauri/lang/en.json
  src-tauri/lang/es.json
  src-tauri/lang/fr.json
  src-tauri/lang/id.json
  src-tauri/lang/it.json
  src-tauri/lang/ja.json
  src-tauri/lang/ko.json
  src-tauri/lang/lv.json
  src-tauri/lang/nl.json
  src-tauri/lang/pl.json
  src-tauri/lang/pt-br.json
  src-tauri/lang/ru.json
  src-tauri/lang/vi.json
  src-tauri/patch/54verison.dll
  src/ui/components/menu/Downloads.tsx
Due: prettier-js, prettier-json, lint

Fix typo
  src-tauri/patch/54version.dll
Due: none

Update file
  src-tauri/patch/54version.dll
Due: none

fix(web): cross-platform game and data paths on
  src/utils/game.ts
Due: prettier-js, lint

Remove unused patch
  src-tauri/src/patch.rs
  src/ui/components/ServerLaunchSection.tsx
  src/ui/components/menu/Options.tsx
Due: prettier-js, lint

Replace 5.x+ individual patch files with universal
  src-tauri/patch/50version.dll
  src-tauri/patch/52version.dll
  src-tauri/patch/54version.dll
  src-tauri/patch/5version.dll
  src-tauri/src/patch.rs
Due: none

Update to make the transparency enabled to make easier to support rounded corners windows
  src-tauri/tauri.conf.json
Due: prettier-json

Update launch_args and fix login timeout to use the options OptionSection for better UX and easier for theming
  src/ui/components/menu/Options.tsx
Due: prettier-js, lint

Update main.rs to has centered logic to mimics HoYoPlay centering for better usability
  src-tauri/src/main.rs
Due: none

Update tauri.conf.json Window Heigh to match HoYoPlay height
  src-tauri/tauri.conf.json
Due: prettier-json

Update discord svg to use Latest discord logo
  src/resources/icons/discord.svg
Due: none

Add a condition if the screen resolution is too small so it doesn't crash
  src-tauri/src/main.rs
Due: none

Update main.rs
  src-tauri/src/main.rs
Due: none

Reverse main.rs Top-Centering change
  src-tauri/src/main.rs
Due: none

Update centering to use center function instead
  src-tauri/tauri.conf.json
Due: prettier-json

Add 6.0 patch from @pmagixc
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/patch/5version.dll
  src-tauri/patch/6version.dll
  src-tauri/src/patch.rs
  src-tauri/tauri.conf.json
  src/ui/components/news/NewsSection.tsx
Due: prettier-js, prettier-json, lint

Update AIO 6.0
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/lang/chs.json
  src-tauri/lang/cht.json
  src-tauri/lang/de.json
  src-tauri/lang/en.json
  src-tauri/lang/es.json
  src-tauri/lang/fr.json
  src-tauri/lang/id.json
  src-tauri/lang/it.json
  src-tauri/lang/ja.json
  src-tauri/lang/ko.json
  src-tauri/lang/lv.json
  src-tauri/lang/nl.json
  src-tauri/lang/pl.json
  src-tauri/lang/pt-br.json
  src-tauri/lang/ru.json
  src-tauri/lang/vi.json
  src-tauri/tauri.conf.json
  src/ui/components/menu/Downloads.tsx
  src/ui/components/news/NewsSection.tsx
Due: prettier-js, prettier-json, lint

Update patch
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/patch/6version.dll
  src-tauri/tauri.conf.json
  src/ui/components/news/NewsSection.tsx
Due: prettier-js, prettier-json, lint

Update AIO to 6.1
  .gitignore
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/lang/chs.json
  src-tauri/lang/cht.json
  src-tauri/lang/de.json
  src-tauri/lang/en.json
  src-tauri/lang/es.json
  src-tauri/lang/fr.json
  src-tauri/lang/id.json
  src-tauri/lang/it.json
  src-tauri/lang/ja.json
  src-tauri/lang/ko.json
  src-tauri/lang/lv.json
  src-tauri/lang/nl.json
  src-tauri/lang/pl.json
  src-tauri/lang/pt-br.json
  src-tauri/lang/ru.json
  src-tauri/lang/vi.json
  src-tauri/patch/6version.dll
  src-tauri/tauri.conf.json
  src/ui/components/menu/Downloads.tsx
  src/ui/components/news/NewsSection.tsx
Due: prettier-js, prettier-json, lint
