Repository Grasscutters/Cultivation: changes, and which lefthook commands are due for each by the changed paths.
All: prettier-js, prettier-json, lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier-js:
      glob: "*.{ts,js,tsx}"
      run: prettier --write {staged_files}
    prettier-json:
      glob: "{*.json,.prettierrc,.lintstagedrc,.eslintrc}"
      run: prettier --write --parser json {staged_files}
    lint:
      exclude: ".prettierrc.js|commitlint.config.js"
      glob: "*.{ts,tsx}"
      run: eslint --fix {staged_files}

commit-msg:
  scripts:
    'commitlint.sh':
      runner: bash

Update README_zh-TW.md
  README_zh-TW.md
Due: none

Update README_zh-CN.md
  README_zh-CN.md
Due: none

Update README.md
  README.md
Due: none

Automatically apply RSA patch
  README.md
  README_zh-CN.md
  README_zh-TW.md
  src-tauri/lang/chs.json
  src-tauri/lang/cht.json
  src-tauri/lang/de.json
  src-tauri/lang/en.json
  src-tauri/lang/es.json
  src-tauri/lang/fr.json
  src-tauri/lang/id.json
  src-tauri/lang/ko.json
  src-tauri/lang/lv.json
  src-tauri/lang/nl.json
  src-tauri/lang/ru.json
  src-tauri/lang/vi.json
  src-tauri/src/main.rs
  src-tauri/src/metadata_patcher.rs
  src/ui/Main.tsx
  src/ui/components/ServerLaunchSection.tsx
  src/ui/components/menu/Options.tsx
  src/utils/configuration.ts
  src/utils/metadata.ts
  src/utils/rsa.ts
Due: prettier-js, prettier-json, lint

Quick fix for rsa.ts
  src/utils/rsa.ts
Due: prettier-js, lint

Fix patch paths
  .gitignore
  src-tauri/src/system_helpers.rs
  src/ui/Main.tsx
  src/utils/rsa.ts
Due: prettier-js, lint

Auto RSA patching Add fallback bg for when api is down
  src/resources/icons/FALLBACK_BG.jpg
  src/ui/App.tsx
  src/ui/Main.tsx
Due: prettier-js, lint

Reduce fallback bg size
  src/resources/icons/FALLBACK_BG.jpg
Due: none

Small UI fix
  package.json
  src-tauri/lang/chs.json
  src-tauri/lang/cht.json
  src-tauri/lang/de.json
  src-tauri/lang/en.json
  src-tauri/lang/es.json
  src-tauri/lang/fr.json
  src-tauri/lang/id.json
  src-tauri/lang/ko.json
  src-tauri/lang/lv.json
  src-tauri/lang/nl.json
  src-tauri/lang/ru.json
  src-tauri/lang/vi.json
  src-tauri/tauri.conf.json
  src/ui/components/menu/Options.tsx
Due: prettier-js, prettier-json, lint

Fix could not patch on very first run
  src/ui/components/ServerLaunchSection.tsx
  src/utils/rsa.ts
Due: prettier-js, lint

Full offline compatibility
  .github/workflows/build.yml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/patch/version.dll
  src-tauri/src/main.rs
  src-tauri/src/proxy.rs
  src-tauri/src/web.rs
  src-tauri/tauri.conf.json
  src/utils/rsa.ts
Due: prettier-js, prettier-json, lint

Bump version
  package.json
  src-tauri/tauri.conf.json
Due: prettier-json

Made it more clear what the button does
  src/ui/components/ServerLaunchSection.css
  src/ui/components/ServerLaunchSection.tsx
Due: prettier-js, lint

Notify on encryption change
  src/ui/components/menu/Options.tsx
  src/utils/rsa.ts
Due: prettier-js, lint

Fix the path
  src-tauri/src/system_helpers.rs
Due: none

Bug fix
  src/ui/components/ServerLaunchSection.tsx
Due: prettier-js, lint

De-Thornify
  README.md
  README_zh-CN.md
  README_zh-TW.md
  package.json
  src-tauri/lang/chs.json
  src-tauri/lang/cht.json
  src-tauri/lang/de.json
  src-tauri/lang/en.json
  src-tauri/lang/es.json
  src-tauri/lang/fr.json
  src-tauri/lang/id.json
  src-tauri/lang/ko.json
  src-tauri/lang/lv.json
  src-tauri/lang/nl.json
  src-tauri/lang/ru.json
  src-tauri/lang/vi.json
  src-tauri/tauri.conf.json
Due: prettier-json

Update patch version
  src-tauri/patch/version.dll
Due: none

Add back frontend-checks
  .github/workflows/frontend-checks.yml
Due: none

codefix
  src-tauri/src/admin.rs
  src-tauri/src/file_helpers.rs
  src-tauri/src/lang.rs
  src-tauri/src/main.rs
  src-tauri/src/proxy.rs
  src-tauri/src/system_helpers.rs
  src-tauri/src/web.rs
Due: none

Update Grasscutter versions Add auto MongoDB option
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/lang/chs.json
  src-tauri/lang/cht.json
  src-tauri/lang/de.json
  src-tauri/lang/en.json
  src-tauri/lang/es.json
  src-tauri/lang/fr.json
  src-tauri/lang/id.json
  src-tauri/lang/ko.json
  src-tauri/lang/lv.json
  src-tauri/lang/nl.json
  src-tauri/lang/ru.json
  src-tauri/lang/vi.json
  src-tauri/src/main.rs
  src-tauri/src/system_helpers.rs
  src-tauri/src/unzip.rs
  src/ui/Main.tsx
  src/ui/components/ServerLaunchSection.tsx
  src/ui/components/menu/Downloads.tsx
  src/ui/components/menu/Options.tsx
  src/utils/configuration.ts
  src/utils/download.ts
Due: prettier-js, prettier-json, lint

Fix 3dmigoto path setting Apparently broken since 1.0.21 whoops
  src-tauri/src/system_helpers.rs
  src-tauri/tauri.conf.json
  src/ui/components/menu/Options.tsx
Due: prettier-js, prettier-json, lint

Update tauri.conf.json
  src-tauri/tauri.conf.json
Due: prettier-json

Automation - MongoDB tied to Grasscutter rather than game - Grasscutter restarts when changing encryption if it is running - AIO link updates without needing manual edits
  src-tauri/src/admin.rs
  src-tauri/src/main.rs
  src-tauri/src/system_helpers.rs
  src/ui/Main.tsx
  src/ui/components/ServerLaunchSection.tsx
  src/ui/components/menu/Downloads.tsx
  src/ui/components/menu/Options.tsx
  src/utils/game.ts
Due: prettier-js, lint

Log when a service isn't found
  src-tauri/src/system_helpers.rs
Due: none

Change AIO zip name
  src/ui/components/menu/Downloads.tsx
Due: prettier-js, lint

Translations for MongoDB setting
  src-tauri/lang/chs.json
  src-tauri/lang/cht.json
  src-tauri/lang/de.json
  src-tauri/lang/es.json
  src-tauri/lang/fr.json
  src-tauri/lang/id.json
  src-tauri/lang/ko.json
  src-tauri/lang/lv.json
  src-tauri/lang/nl.json
  src-tauri/lang/ru.json
  src-tauri/lang/vi.json
Due: prettier-json

refactor: optimze path concatenation in get_lang()
  src-tauri/src/lang.rs
Due: none

fix: improve error handling in get_languages()
  src-tauri/src/lang.rs
Due: none

revert: lang path
  src-tauri/src/lang.rs
Due: none

Only intercept game traffic Bump version
  package.json
  src-tauri/src/proxy.rs
  src-tauri/tauri.conf.json
Due: prettier-json

Show wrench instantly on setting 3dmigoto
  src-tauri/src/system_helpers.rs
  src/ui/Main.tsx
Due: prettier-js, lint

Create pt-br.json
  src-tauri/lang/pt-br.json
Due: prettier-json

Run prettier
  src-tauri/lang/pt-br.json
  src/ui/components/news/NewsSection.tsx
Due: prettier-js, prettier-json, lint

Test permission change for setting proxy
  src-tauri/src/proxy.rs
Due: none
